*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: "montserrat";
}

body{
    background-image: url("/2.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

ul{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* background-color: rgba(151, 57, 239, 0.882); */
    background-color: rgba(128, 128, 128, 0.6);
    color: gray;
    width: 100%;
}

li{
    list-style: none;
    margin: 20px;
    font-weight: 800;
    font-size: 28px;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    /* text-shadow: 3px 3px 5px white, -2px -2px 5px white, -3px -3px 5px white; */
    /* transition: 0.5s; */
    background-color: rgba(176, 106, 241, 1);
    border-radius: 50px;
}

/* li a:hover{
    background-color:  rgba(176, 106, 241, 0.882);
} */

h1{
    font-family: 'Kanit', sans-serif;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    justify-content:flex-start;
    gap: 10px;
    /* width: 30vw; */
    width: 558px;
    height: 70vh;
    background-color: rgba(173, 117, 226, 1);
    /* background-image: url("/listimg.png");
    background-size: cover;
    background-repeat: no-repeat; */
    border-radius: 34px;
    text-align: center;
    border: 10px solid black;
}

/* .container h1, .container p{
    background-color: gray;
} */

.container:hover{
    box-shadow: 6px 6px 12px black;
}

a:hover{
    box-shadow: 6px 6px 12px black;
}

.images{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

.images img{
    width: 30%;
    height: 70%;
}