*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 5rem;
    font-family: Kanit;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    height: 66px;
}

.title{
    font-family: 'Alegreya SC';
    font-size: x-large;
}

a{
    text-decoration: none;
}

.join{
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Kanit;
    font-size: large;
}

.join a{
    background-color: rgba(151, 57, 239, 0.882);
    border-radius: 8px;
    padding: 4px;
    color: white;
    width: 83px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container h1{
    font-family: Arizonia;
    font-size: 40px;
    letter-spacing: 4px;
    word-spacing: 8px;
}

.quote{
    animation: slide 2s forward 4.5s;
}

@keyframes slide {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}